.hamburger {
  display: none;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 1002;
  padding: 10px 9px;
  vertical-align: middle;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: #fff;
  width: 40px;
  height: 36px;
  transition: transform 0.3s ease, visibility 0s 0.3s linear, opacity 0.3s linear, background 0.1s ease;
  @include media768 {
    display: block;
    top: 20px;
    left: 20px;
  }
  @include media638 {
    top: 10px;
    left: 10px;
  }
 
  &.is-fixed {
    background: $color-red;
    position: fixed;
    @include media768 {
      display: block;
      top: 30px;
      left: 30px;
    }
    @include media638 {
      top: 20px;
      left: 20px;
    }
  }
  &.scroll-up {
    // transform: translate3d(0, 0, 0);
  }
  &:hover{
    cursor: pointer;
  }
  .line{
    display: block;
    width: 22px;
    height: 2px;
    
    background-color: #ecf0f1;
    position: absolute;
    transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    transform-origin: 50% 50%;
    margin-bottom: 8px;
    &:nth-child(1) {
      
      top: 10px;
    }
    &:nth-child(2) {
      transition: opacity 0s .15s linear;
      top: 17px;
    }
    &:nth-child(3) {
      top: 24px;
      
    }
  }
  
}

.hamburger.is-active .line:nth-child(1){
  transition: top .1s .1s ease-in-out,transform .1s .2s ease-in-out;
  top: 17px;
  transform: rotate(45deg);
}
.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

.hamburger.is-active .line:nth-child(3){
  transition: top .1s .1s ease-in-out,transform .1s .2s ease-in-out;
  top: 17px;
  transform: rotate(-45deg);
}
