.about {
  background-color: white;
  text-align: center;
  color: $color-gray;
  font-style: normal;

  font-family: filson-soft;
  word-wrap: break-word;
  &__container {
    display: flex;
    max-width: 1080px;
    padding: 30px 34px;
    margin: auto;
  }
  &__item {
    padding: 17px;
  }
  &__img {
    width: 100%;
    margin-bottom: 34px;
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4em;
    letter-spacing: .07em;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__text {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .3px;
    line-height: 1.6em;
  }
}
.link-red {
  text-decoration: none;
  color: $color-red;
}