.about {
  text-align: center;
  color: $color-gray;
  font-style: normal;
  word-wrap: break-word;
  &__container {
    display: flex;
    padding-top: 2rem;
    @include media638 {
      flex-direction: column;
    }
  }
  &__item {
    padding: 0 17px 17px;
    @include media638 {
      padding: 0 0 17px;
    }
  }
  &__img {
    width: 100%;
    margin-bottom: 34px;
  }
  &__title {
    font-family: $font-title;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4em;
    letter-spacing: .07em;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__text {

  }
}
.link-red {
  text-decoration: none;
  color: $color-red;
}