.amenities {
  font-style: normal;
  text-align: center;
  color: white;
  background-color: rgb(86, 146, 242);
  background-image: url("../image/banner-5-2500.jpg");
  background-size: cover;
  // background: rgba(157,183,218,1);
  // background: linear-gradient(135deg, rgba(218,225,236,1) 0%, rgba(160,186,219,1) 48%, rgba(157,183,218,1) 100%);
  
  @include media638 {
    padding-top: 2.867rem;
    background-position: 60% 0;
  }
  &__container {
    
    padding-top: 11rem;
    padding-bottom: toRem(140);
    @include media638 {
      padding-bottom: 6.2rem;
    }
  }
  
  &__title {
    font-size: 32px;
    font-family: $font-title;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: .01em;
    text-transform: none;
    max-width: 64%;
    margin: 0 auto 34px;
    @include media848 {
      max-width: none;
      margin: 0 toRem(17) toRem(34);

    }
    @include media638 {
      font-size: 26px;
    }
  }
  &__text {
    display: block;
    font-family: $font-text;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 97px;
    @include media638 {
      margin-bottom: 80px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    max-width: 876px;
    margin: 0 auto;
  }
  &__item {
    min-width: 153px;
    max-width: 20%;
    padding: 17px;
    @include media638 {
      min-width: auto;
      max-width: 100%;
    }
  }
  &__icon {
    width: 100%;
    margin-bottom: 34px;
  }
  &__label {
    font-family: $font-title;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4em;
    letter-spacing: .07em;
    text-transform: uppercase;
  }
}