.faq {
  background-color: $color-light-blue;

  &__container {
    padding-top: 8.43rem;
    padding-bottom: 8.47em;
    @include media638 {
      padding-bottom: 8rem;
    }
  }
  &__title {
    margin-bottom: toRem(17);
    text-align: center;
    font-family: $font-title;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    text-transform: none;
    @include media638 {
      font-size: 26px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    column-gap: toRem(34);
    @include media638 {
      flex-direction: column;
    }
  }
  &__inner {
    flex-basis: 50%;
    @include media638 {
    }
  }
  &__item {
    // border: 1px black solid;

    &:not(:first-child) {
      margin-top: 1.33rem;
    }
    &:not(:last-child) {
      .faq__text {
        // margin-bottom: 1rem;
      }
    }
  }
  &__name {
    cursor: pointer;
    font-family: $font-title;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    margin-bottom: 0.3em;
    @include media638 {
      font-size: 26px;
    }
    &.is-active {
      & + .faq__text {
        display: block;
        // max-height: none;
        border-top: solid 1px #ccc;
        padding-top: 1rem;
        margin-top: 1rem;
        transition: all 1s ease-out;
        height: auto;
      }
      & + .faq__text p {
        // display: block;
        // background-color: aqua;
      }
    }
  }
  &__plus {
    color: $color-red;
    padding-right: 10px;
    font-weight: bold;
  }
  &__text {
    display: none;
    max-height: 0px;
    overflow: hidden;
    // transition: all 1s ease-out;
    transition: max-height 0.2s ease-out;

    & p {
      font-size: 1rem;
      color: $color-gray;
    }
  }
}
