
@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
  url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "proxima-nova-bold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
  url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "filson-soft";
  src: url("../fonts/FilsonSoftRegular/Filson\ Soft\ W03\ Regular.eot");
  src: url("../fonts/FilsonSoftRegular/Filson\ Soft\ W03\ Regular.ttf") format("truetype");
  src: url("../fonts/FilsonSoftRegular/Filson\ Soft\ W03\ Regular.woff") format("woff");
}    
@font-face {
  font-family: "filson-soft-bold";
  src: url("../fonts/FilsonSoftBold/Filson\ Soft.eot");
  src: url("../fonts/FilsonSoftBold/Filson\ Soft.ttf") format("truetype");
  src: url("../fonts/FilsonSoftBold/Filson\ Soft.woff") format("woff");
}    