.header {
  position: absolute;
  z-index: 10;
  padding: 30px 0;
  background: linear-gradient(to bottom,#7898be,rgba(120,152,190,0));
  width: 100%;

  @include media638 {
    padding: 20px 0;
    margin-bottom: 63px;
  }
  &__container {
    padding: 0;
  }
}

.nav {
  position: relative;
  min-height: 144px;
  display: flex;
  width: 100%;
  align-items: center;
 
  @include media938 {
    flex-wrap: wrap;
    justify-content: center;
    min-height: auto;
  }
  @include media768 {
    
  }
  @include media638 {
    
  }
    
  
  &__logo {
    // position: absolute;
    // top: 0;
    // left: calc(50% - (180px / 2));
    display: block;
    width: fit-content;
    margin: 0 toRem(32);
    @include media938 {
      // position: static;
      // top: auto;
      // left: auto;
      // z-index: 11;
    }
  }
  &__logo-img {
    width: 180px;
    @include media938 {
      max-height: 50px;
      width: auto;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 5px;
    margin-top: -6px;
    &:nth-of-type(1) {
      justify-content: flex-end;
    }
    &:nth-of-type(2) {
      justify-content: flex-start;

    }

    @include media768 {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      background: $color-red;
      flex-direction: column;
      margin: 0;
      padding: 100px 15px;
      -webkit-animation: bugfix infinite 1s;
      transition: opacity .14s .14s ease-in-out,visibility 0s 0s linear,transform .14s .18s ease-in-out;  
    }
    &.is-active {
      display: flex;
    }
    &.is-fixed {
      background-color: $color-red;
      width: 100%;
      height: 42px;
      min-height: auto;
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 5px;
      z-index: 1000;
      white-space: normal;
      transform: translate3d(0, -100%, 0);
      & .header__list {
        margin: 0;
      }
      
    }
    &.scroll-up {
      transition: transform 0.3s ease, visibility 0s 0.3s linear;
      transform: translate3d(0, 0, 0);

    }
    &.gradient {
      background-color: $color-red;
      background-image: linear-gradient(180deg, rgba(120,152,190,1) 0%, rgba(194,63,62,1) 120px);
    }
    &__item {
      // &:nth-child(3) {
      //   margin-right: 120px;
      //   @include media938 {
      //     margin-right: 0;
      //   }
      // }
      // &:nth-child(4) {
      //   margin-left: 120px;
      //   @include media938 {
      //     margin-left: 0;
      //   }
      // }
    }
    &__link {
      display: block;
      color: white;
      font-family: $font-text;
      font-weight: 700;
      font-style: normal;
      font-size: 13px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1em;
      padding: 0.75em 1em;
      transition: color .1s 0s ease-in-out;
      @include media768 {
        font-size: 30px;
        padding: 0.5em 0;
      }
      @include media638 {
        font-size: 24px;
  
      }
      &:hover {
        color: $color-opasity;
      }
      &:active {
        color: $color-opasity;
      }
      &.active {
        color: $color-opasity;
        & .icon-home {
          fill: $color-opasity;
        }
      }
    }
  }

}

.icon-home {
  width: 13px;
  height: 10px;
  fill: white;
  &:hover {
    fill: $color-opasity;
  }
  &:active {
    fill: $color-opasity;
  }
  @include media768 {
    width: 26px;
  }
}




