.menu-top {
  &__wrapper {
    // display: none;
    background-color: $color-red;
    width: 100%;
    text-align: center;
    height: 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    z-index: 1000;
    white-space: normal;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
    &.scroll-up {
      transform: translate3d(0, 0, 0);
    }
    @include media768 {
      display: none;
    }
  }
  &__inner {
    display: flex;
    // width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  &__item {
    // display: inline-block;
    display: block;
   
  }
  &__link {
    display: inline-block;
    color: white;
    font-family: $font-text;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    padding: 0.75em 1em;
    transition: color .1s 0s ease-in-out;
    &:hover {
      color: $color-opasity;
    }
    &:active {
      color: $color-opasity;
    }
    &.active {
      color: $color-opasity;
    }
  }

}