.reviews {
  &__container {
    padding-top: toRem(145);;
  }
  &__title{
    text-align: center;
    font-family: $font-title;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3em;
    letter-spacing: .01em;
    margin-bottom: 34px;
    @include media638 {
      margin-top: 4.67rem;
      font-size: 26px;
    }
  }
  &__wrapper {
    max-width: 523px;
    text-align: left;
    font-size: 1rem;
    margin: 0 auto -6px;
    @include media500 {
      margin-bottom: 32px;
    }
  }
  &__item {
    color: $color-gray-dark;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }

  }
  &__heading {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 5px;
    @include media500 {
      // flex-wrap: wrap;
    }
  }
  &__name-block {
    display: flex;
    justify-content: start;
    gap: 0.33rem;
    @include media500 {
      flex-direction: column;
    }
  }
  &__name {
    font-size: 18px;
    font-family: $font-title;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
    @include media500 {
      flex-basis: 85%;
    }
  }
  &__rating {
   
  }
  &__star {
    color: #c13e3f;
  }
  &__icon {
    width: 25px;

  }
  &__date {
    display: block;
    margin-bottom: 1rem;
    color: #555555;
  }
  &__text {
    color: #444444;
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .3px;
    line-height: 1.6em;
  }
  &__powered {
    margin-top: 3rem;
  }
}

.rating {
  
}