.reviews {
  background-color: white;
  &__container {
    max-width: 523px;
  }
  &__title{
    text-align: center;
    font-family: $font-title;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3em;
    letter-spacing: .01em;
    margin-top: 4rem;
    margin-bottom: 34px;
    @include media638 {
      margin-top: 4.67rem;
      font-size: 26px;
    }
  }
  &__wrapper {
    text-align: left;
    font-size: 1rem;
    margin-bottom: -6px;
    @include media500 {
      margin-bottom: 32px;
    }
  }
  &__item {
    color: $color-gray-dark;
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
    &:last-of-type {
      margin-bottom: 45px;
    }

  }
  &__head {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    @include media500 {
      flex-wrap: wrap;
    }
  }
  &__name {
    font-size: 18px;
    font-family: $font-title;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
    @include media500 {
      order: 1;
      flex-basis: 85%;
    }
  }
  &__rating {
    margin-left: 5px;
    @include media500 {
      order: 3;
      margin-left: 0;
    }
  }
  &__star {
    
  }
  &__icon {
    margin-left: auto;
    width: 25px;
    @include media500 {
      order: 2;
    }
  }
  &__date {
    display: block;
    margin-bottom: 1rem;
    color: #555555;
  }
  &__text {
    color: #444444;
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .3px;
    line-height: 1.6em;
  }
  &__powered {

  }
}