$body-color: rgb(49, 159, 95);
$color-gray: #5c5c5c;
$color-gray-dark: #444444;
$color-opasity: rgba(255,255,255,0.75);
$color-red: #c23f3e;
$color-light-blue: #ecf1f8;
$font-text: "proxima-nova", sans-serif;
$font-title: "filson-soft", sans-serif;